.teamMember {
  background-color: #5a90e5;
  border-radius: 15px;
  padding: 150px 20px 20px;
  color: white;
  width: 90%;
  height: 450px;
  /* Altura fixa para todos os cards */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  /* border: 4px solid #5a90e5; */
  background-color: white;
}

.memberImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memberName {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: start;
  padding: 0 15px;
}

.memberDescription {
  font-size: 1.3em;
  padding: 15px;
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  line-height: 1.6;
  letter-spacing: 1.2px;
  text-align: start;
}

/* Estiliza a barra de rolagem para navegadores WebKit (Chrome, Safari, etc.) */
.memberDescription::-webkit-scrollbar {
  width: 6px;
}

.memberDescription::-webkit-scrollbar-track {
  background: transparent;
}

.memberDescription::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

@media (max-width: 768px) {
  .teamMember {
    height: 350px;
    /* Ajuste a altura para telas menores */
  }

  .imageWrapper {
    width: 150px;
    height: 150px;
    top: -50px;
  }

  .memberName {
    font-size: 1.5em;
  }

  .memberDescription {
    font-size: 1.1em;
  }
}

@media (max-width: 480px) {
  .teamMember {
    height: 300px;
    /* Ajuste a altura para telas muito pequenas */
    padding: 100px 20px 20px;
  }

  .imageWrapper {
    width: 120px;
    height: 120px;
    top: -40px;
  }

  .memberName {
    font-size: 1.25em;
  }

  .memberDescription {
    font-size: 1em;
  }
}