.teamSection {
  background-color: #fff;
  padding: 60px 0;
  text-align: center;
}

.sectionTitle {
  color: #5a8bff;
  font-size: 4em;
  margin-bottom: 80px;
}

.carouselContainer {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  padding: 0 60px;
}

.carouselWrapper {
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
}

.teamMemberWrapper {
  flex: 0 0 calc(100% / 3);
  padding: 0 15px;
  box-sizing: border-box;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 3em;
  color: #5a8bff;
  cursor: pointer;
  z-index: 10;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

@media (max-width: 768px) {
  .sectionTitle {
    margin-bottom: 0px;
  }

  .teamMemberWrapper {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }

  .carousel {
    width: 100%;
  }
}
