.navbar {
  width: 86vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0455BF;
  font-family: 'Montserrat', sans-serif;
  height: 80px;
  position: fixed;
  z-index: 1000;
  padding: 0 7%;
}

.navbarLogo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  gap: 10px;
  /* padding-left: 20px; */
}

.navbarLogo img {
  width: 60px;
}

.navbarLinks {
  display: flex;
  gap: 50px;
  list-style: none;
}

.navbarLinks li {
  font-size: 1rem;
  font-weight: 500;
}

.navbarLinks li a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.1s ease;
}

.navbarLinks li a:hover {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
}

.navbarButton {
  background-color: #ffffff;
  color: #0453BB;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  left: 20px;
  /* margin-right: 20px; */
  border: 1px solid #ffffff;
}

.navbarButton:hover {
  background-color: transparent;
  color: #ffffff;
}

/* Estilos para dispositivos móveis */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  padding-right: 20px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

/* Estilo ativo para o hambúrguer */
.hamburger span.active:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger span.active:nth-child(2) {
  opacity: 0;
}

.hamburger span.active:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsividade */
@media (max-width: 768px) {
  .navbarLinks {
    position: absolute;
    top: 100px;
    right: 0px;
    background-color: #0453BB;
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 20px 0;

    /* Escondido inicialmente e posicionado para animação */
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    /* Ajuda a ocultar o menu visualmente */

    border-bottom: 8px ridge #ffffff;
  }

  .navbarLinks.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .navbarButton {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}