.container {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 2.4rem;
  color: #4a90e2;
  margin-bottom: 20px;
  text-align: center;
}

.subTitle {
  font-size: 1.2rem;
  color: #4a90e2;
  margin-bottom: 5px;
  text-align: left;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  /* max-width: 1200px;  */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 750px;
}

.input,
.textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #4a90e2;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  height: 60px;
}

::placeholder {
  color: #4a90e2;
  opacity: 1;
  /* Firefox */
  font-size: 1rem !important;
  font-family: 'Montserrat', sans-serif !important;
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #4a90e2;
  font-size: 1rem !important;
  font-family: 'Montserrat', sans-serif !important;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #3170ae;
}

.textarea {
  resize: none;
  height: 100px;
  font-size: 1rem;
}

.submitButton {
  width: 30%;
  padding: 10px;
  background-color: transparent;
  color: #4a90e2;
  border: 2px solid #4a90e2;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  letter-spacing: 2px;
  position: relative;
  align-self: center;
}

.submitButton:hover {
  background-color: #4a90e2;
  color: white;
  border-color: #4a90e2;
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  text-align: left;
  max-width: 700px;
  color: #4a90e2;
  font-weight: 500;
  min-height: 500px;
}

.contactResume {
  margin-bottom: 30px;
  line-height: 1.2;
}

.contactResume p {
  font-size: 1.5rem;
  font-weight: 400;
}

.contactTitle {
  font-size: 2rem;
  color: #4a90e2;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.contactRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contactItem div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactItem h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #4a90e2;
  font-weight: 500;
}

.contactItem p {
  margin: 5px 0 0 0;
  font-size: 1rem;
}

.icon {
  font-size: 2rem;
  color: #4a90e2;
}

.socialMedia a .icon {
  font-size: 2rem;
}

.socialMediaSection {
  /* margin-top: 20px; */
}

.socialTitle {
  font-size: 1.5rem;
  color: #4a90e2;
  margin-bottom: 10px;
  font-weight: bold;
}

.socialMedia {
  display: flex;
  gap: 30px;
}

@media (max-width: 767px) {
  .formContainer {
    padding: 0 15px;
  }

  .contactRow {
    flex-direction: column;
    gap: 10px;
  }

  .form {
    width: 100%;
    max-width: 100%;
  }

  .input,
  .textarea {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .formContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    flex: 1;
  }

  .contactSection {
    flex: 1;
  }
}