.step {
  /* background-color: #e9f5ff; */
  border-radius: 2px;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 190px;
  border: 1px solid #0455BF;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.2s;
  line-height: 1.2;
}

.step:hover {
  transform: translateY(-5px);
}

.icon {
  margin-bottom: 10px;
}

.icon img {
  position: relative;
  width: 50px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0455BF;
}

.description {
  font-size: 1em;
  font-weight: 500;
  color: #0455BF;
}

.highlight {
  background-color: #0455BFcc;
  color: white;
  height: 210px;
  border: 1px solid #0455BFcc;
}

.highlight .title {
  color: white;
}

.highlight .description {
  color: #f0f0f0;
}

@media (max-width: 768px) {
  .step {
    width: 250px;
  }
}