.step {
  background-color: #e9f5ff;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  width: 25%;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.step:hover {
  transform: translateY(-5px);
}

.icon {
  margin-bottom: 10px;
}

.icon img {
  position: relative;
  width: 35px;
  width: 35px;
}

.title {
  font-size: 2.1em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0044cc;
}

.description {
  font-size: 0.9em;
  color: #666666;
}

.highlight {
  background-color: #007bff;
  color: white;
}

.highlight .title {
  color: white;
}

.highlight .description {
  color: #f0f0f0;
}

@media (max-width: 768px) {
  .step {
    width: 250px;
  }
}