.step {
    background-color: #e9f5ff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
  }
  
  .icon {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0044cc;
  }
  
  .description {
    font-size: 0.9em;
    color: #666666;
  }
  